{%extends "./guest/base.html" %}
{% block content %}
  
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
       
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are Nass
              </h2>
            </div>
            <p>
              There are many variations of recipes available, but the majority have been adapted in some form, by creative twists or regional ingredients that bring out unique flavors. If you are going to try a new recipe, you need to make sure it includes all the essential ingredients and instructions for a successful dish. Whether you're cooking a classic or experimenting with something new, be sure to follow the steps carefully for a delicious result.

            </p>
            
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/static/guest/images/about-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
   
{% endblock %}