{%extends "./guest/base.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

   <!-- slider section -->
<section class="slider_section">
  <div id="customCarousel1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <!-- Slide 1: Haute Cuisine -->
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-lg-6">
              <div class="detail-box">
                <h1>Haute Cuisine at Home</h1>
                <p>
                  Discover gourmet recipes designed to bring restaurant-quality meals to your home kitchen. From delicate appetizers to exquisite main courses, elevate your culinary experience with our step-by-step guides.
                </p>
                <div class="btn-box">
                  <a href="/view-recipe" class="btn1">
                    View Recipes
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Slide 2: Pinch of Yum -->
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-lg-6">
              <div class="detail-box">
                <h1>Pinch of Yum</h1>
                <p>
                  Delicious meals made simple! Our easy-to-follow recipes are packed with flavor, perfect for busy weeknights or lazy weekends. Try a pinch of yum with every bite!
                </p>
                <div class="btn-box">
                  <a href="" class="btn1">
                    Explore Recipes
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide 3: Flavor the Moments -->
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-lg-6">
              <div class="detail-box">
                <h1>Flavour the Moments</h1>
                <p>
                  Savor the moments with recipes that bring warmth and comfort. From hearty soups to sweet desserts, create memorable meals that will leave lasting impressions on your loved ones.
                </p>
                <div class="btn-box">
                  <a href="" class="btn1">
                    Start Cooking
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Carousel indicators -->
    <div class="container">
      <ol class="carousel-indicators">
        <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#customCarousel1" data-slide-to="1"></li>
        <li data-target="#customCarousel1" data-slide-to="2"></li>
      </ol>
    </div>
  </div>
</section>
<!-- end slider section -->

  </div>

  <!-- offer section -->


  <section class="offer_section layout_padding-bottom">
    <div class="heading_container heading_center">
      <h2>
        
      </h2>
    </div>
    <div class="offer_container">
     
      <div class="container ">
        <div class="row">
          {% for recipe in recipes[:4] %}
          <div class="col-md-6  ">
            <div class="box ">
              <div class="img-box">
                <img src="static/recipe/{{ recipe.recipe_image }}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  {{ recipe.recipe_title }}
                </h5>
                <h6>
                  <p class="truncate">{{ recipe.recipe_description }}</p>
                </h6>
                <div style="margin: 10px;">
                  <label>Rating:</label>
                  {% set full_stars = recipe.average_rating | int %}
                  {% set half_star = 1 if (recipe.average_rating - full_stars) >= 0.5 else 0 %}
                  {% set empty_stars = 5 - full_stars - half_star %}

                  <!-- Full stars -->
                  {% for i in range(full_stars) %}
                      <i class="fas fa-star" style="color: gold;"></i>
                  {% endfor %}

                  <!-- Half star -->
                  {% if half_star %}
                      <i class="fas fa-star-half-alt" style="color: gold;"></i>
                  {% endif %}

                  <!-- Empty stars -->
                  {% for i in range(empty_stars) %}
                      <i class="far fa-star" style="color: gold;"></i>
                  {% endfor %}
              </div>
                <a href="view-single-recipe/{{ recipe.recipe_id }}">
                  View More
                    <g>
                      <g>
                        <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                     c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                      </g>
                    </g>
                    <g>
                      <g>
                        <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                     C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                     c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                     C457.728,97.71,450.56,86.958,439.296,84.91z" />
                      </g>
                    </g>
                    <g>
                      <g>
                        <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                     c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                      </g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
         
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end offer section -->


  <section class="offer_section layout_padding-bottom">
    <div class="offer_container">
      <div class="container">
        <div class="row" id="offerSection"></div>
      </div>
    </div>
  </section>

  <!-- food section -->
<br>
<br>
  <section class="food_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Recipes
        </h2>
      </div>

    

     

      <div class="filters-content">
          <!-- Add the ID here to the container of all recipe cards -->
          <div class="row grid" id="recipeContainer">
            {%if recipes%}
             {% for recipe in recipes[:8] %}
              <!-- Each recipe card should have the class 'recipe-box' and data attributes -->
              <div class="col-sm-6 col-lg-4 all pizza recipe-box" data-title="{{ recipe.recipe_title }}" data-description="{{ recipe.recipe_description }}" data-category="{{ recipe.category_name }}">
                  <div class="box">
                      <div>
                          <div class="img-box">
                              <img src="static/recipe/{{ recipe.recipe_image }}" alt="">
                          </div>
                          <div class="detail-box">
                              <h6 style="color: rgb(221, 224, 207);">user: <strong style="color: rgb(153, 141, 207);">{{ recipe.login_username }}</strong></h6>
                              <h5>{{ recipe.recipe_title }}</h5>
                              <p class="truncate">{{ recipe.recipe_description }}</p>

                              <div class="options">
                                  <h6>{{ recipe.category_name }}</h6>
                                  {% if session['user_id'] %}
                                  <a href="{{ url_for('addfav', recipe_id=recipe.recipe_id) }}" 
                                  style="color: {% if recipe.status == 'true' %}#BDAA00{% else %}white{% endif %}; background-color: rgb(117, 192, 32);">
                                     
                                      <i class="fas fa-star"></i>
                                  </a>
                                  {% endif %}
                              </div>
                              <br>
                              <a href="view-single-recipe/{{ recipe.recipe_id }}">view more</a>
                              <div style="margin: 10px;">
                                <label>Rating:</label>
                                {% set full_stars = recipe.average_rating | int %}
                                {% set half_star = 1 if (recipe.average_rating - full_stars) >= 0.5 else 0 %}
                                {% set empty_stars = 5 - full_stars - half_star %}
    
                                <!-- Full stars -->
                                {% for i in range(full_stars) %}
                                    <i class="fas fa-star" style="color: gold;"></i>
                                {% endfor %}
    
                                <!-- Half star -->
                                {% if half_star %}
                                    <i class="fas fa-star-half-alt" style="color: gold;"></i>
                                {% endif %}
    
                                <!-- Empty stars -->
                                {% for i in range(empty_stars) %}
                                    <i class="far fa-star" style="color: gold;"></i>
                                {% endfor %}
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}
              {% endif %}
          </div>
      </div>

      <div class="btn-box">
          <a href="/view-recipe">
              View More
          </a>
      </div>
  </div>
</section>
  <!-- end food section -->

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="static/guest/images/about-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are Nass
              </h2>
            </div>
            <p>
              There are many variations of recipes available, but the majority have been adapted in some form, by creative twists or regional ingredients that bring out unique flavors. If you are going to try a new recipe, you need to make sure it includes all the essential ingredients and instructions for a successful dish. Whether you're cooking a classic or experimenting with something new, be sure to follow the steps carefully for a delicious result.
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Review Our Website
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="/feedback" method="post" onsubmit="return showFeedbackAlert();">
              {% if session['user_id'] %}
              <!-- User is logged in, so don't show the name input field -->
              <input type="hidden" name="name" value="user">
              <input type="hidden" name="user_id" value="{{ session['user_id'] }}">
            {% else %}
              <!-- User is not logged in, set user_id to 0 and show the name input field -->
              <input type="hidden" name="user_id" value="0">
              <div>
                <input type="text" class="form-control" placeholder="Your Name" name="name" />
              </div>
            {% endif %}
              
              <div>
                <input type="email" class="form-control" placeholder="Your Email"  name="email"/>
              </div>
              <div>
                <textarea class="form-control" placeholder="Your Feedback" name="feedback"></textarea>
            </div>
              
              
            <div class="btn_box">
              <button type="submit">Send</button>
            </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container ">
            <img src="static/guest/images/istockphoto-1287186696-612x612.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->

  <!-- client section -->

  <!-- <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <h2>
          What Says Our Customers
        </h2>
      </div>
      <div class="carousel-wrap row ">
        <div class="owl-carousel client_owl-carousel">
          <div class="item">
            <div class="box">
              <div class="detail-box">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>
                <h6>
                  Moana Michell
                </h6>
                <p>
                  magna aliqua
                </p>
              </div>
              <div class="img-box">
                <img src="static/guest/images/client1.jpg" alt="" class="box-img">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="detail-box">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>
                <h6>
                  Mike Hamell
                </h6>
                <p>
                  magna aliqua
                </p>
              </div>
              <div class="img-box">
                <img src="static/guest/images/client2.jpg" alt="" class="box-img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- end client section -->
  
  <script>
    function showFeedbackAlert() {
        alert("Your feedback has been sent!");
        return true; // Allow the form to submit
    }
</script>
  {% endblock %}
  